<% include _header %>

	<div class="container-fluid">
		<div class="row-fluid home register">
			<div class="span2">
				<div class="well">
					<p class="secondaryNav">
						<a href="/" class="btn btn-info btn-block">Home »</a>
					</p>
					<p class="secondaryNav">
						<a href="/about" class="btn btn-info btn-block">About »</a>
					</p>
					<p class="secondaryNav">
						<a href="/contact" class="btn btn-info btn-block">Contact »</a>
					</p>
				</div><!--/.well -->
	        </div><!--/span-->	
	        
	        
			<div class="span8">	
				<h1 class="aboutHeader">Thank you for contacting us!</h1>
			
				<h3>Please allow 24 hours for us to reply to your inquiry.</h3>
			</div><!--/row-->
	  
			<div class="span2">
				<div class="well ads">
					<h4>ADS</h4>
					<img src="img/ViagraAd.png">      
				</div>
			</div><!--/row-->
          
		</div><!--/row-->
	</div><!--/span-->      
      
      <hr>

<% include _footer %>