<% include _header %>

    <div class="container-fluid">
		<div class="row-fluid home register">
			<div class="span2">
				<div class="well">
					<p class="secondaryNav">
						<a href="/" class="btn btn-info btn-block">Home »</a>
					</p>
					<p class="secondaryNav">
						<a href="/about" class="btn btn-info btn-block">About »</a>
					</p>
					<p class="secondaryNav">
						<a href="/contact" class="btn btn-info btn-block">Contact »</a>
					</p>
				</div><!--/.well -->
	        </div><!--/span-->					

		<div class="span8">	
			<p>
				<h3 id="ErrorMsg"><%= typeof message === "undefined" ? "" : message %></h3>		
			</p>
	
	
		  <form name="resetPasswordForm" id="resetPasswordForm" class="form-signin" method="post" action="/resetPassword">	 
		  	<h2>Reset Password</h2>     
				<input name="email" id="email" type="text" class="input-block-level" placeholder="Email address">
				<button class="btn btn-large btn-success" type="submit">Reset Password</button>
		  </form>
		  <style>
		  	.errorMessage{
		  		color: #FF0000;
		  	}
		  	.validMessage{
		  		color: green;
		  	}
		  </style>
		  <script src="/js/jquery.js"></script>
		  <script src="/js/jquery.validate.js"></script>
		  <script src="/js/jquery.validate.min.js"></script>                               
		  <script type="text/javascript">
		    jQuery(document).ready(function(){

		      $('#resetPasswordForm').validate({
		        errorClass: "errorMessage",
		        validClass: "validMessage",
		        rules: {
		          email: {
		            required: true,
		            email: true
		          }
		        }

		      });
		    });


		  </script>


	 	</div><!--/span8-->

       <div class="span2">
			<div class="well ads">
				<h4>ADS</h4>
				<img src="img/ViagraAd.png">      
			</div>
		</div><!--/row-->
        
  	  </div> <!-- row-fluid -->
    </div> <!-- /container -->

    <hr>

